<!-- ===== Begin footer ===== -->
<footer class="footer-wrapper">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-6 col-md-3">
                    <ul class="imp-links">
                        <li><a routerLink="/" class="active">Home</a></li>
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a routerLink="/report">Report</a></li>
                        <li><a href="#dream-realisation" class="smoothScroll">Dream Realisation</a></li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-3">
                    <ul class="imp-links">
                        <li><a routerLink="/dreamcar">Dream Car</a></li>
                        <li><a routerLink="/dreamwatch">Dream Watch</a></li>
                        <li><a routerLink="/dreamhouse">Dream House</a></li>
                        <li><a routerLink="/dreamholiday">Dream Holiday</a></li>
                        <li><a routerLink="/dreamwedding">Dream Wedding</a></li>
                        <li><a routerLink="#">Dream Motorcycle</a></li>
                        <li><a routerLink="#">Dream Universities/Schools</a></li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-3">
                    <ul class="imp-links">
                        <li><a routerLink="#">Terms &amp; Conditions</a></li>
                        <li><a routerLink="#">Bonus &amp; Promotions</a></li>
                        <li><a routerLink="#">Verification Policy</a></li>
                        <li><a routerLink="#">Privacy &amp; Security</a></li>
                        <li><a routerLink="#">Responsible Gambling</a></li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-3">
                    <ul class="imp-links">
                        <li><a routerLink="/createaccount">Create Account</a></li>
                        <li><a class="myLoginBtn">Login</a></li>
                        <li><a routerLink="/contact">Contact Us</a></li>
                        <li><a routerLink="#">Live Chat</a></li>
                    </ul>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>

    <div class="footer">
        <div class="container-fluid text-center">
            <p class="copyright">DreamBet &copy; 2016 . All rights reserved
        </div>
    </div>

</footer>
<!-- ===== End footer ===== -->