<!-- ===== main container-fluid ===== -->
<div id="container-fluid">
  <!-- === Main content === -->
  <div id="mainContent" class="main">
    <div class="mainsection-wrapper">
      <div class="bg-image bg-img-about">
        <img src="app/assets/img/officemeeting.jpg" id="bg-img">
      </div>
      <div class="mainSection mainSection-about about-first">
        <div class="slide-left">
          <p>About Us</p>
        </div>
        <p>
          <span class="dreamBet">DreamBet</span> is a sport betting site that helps people who love investing their money
          in sports in order to get a return on investment.<br><br> Dream bet came into existence after realizing that 95%
          of people who bet fail to make money on betting, this is because they don’t know when, how and why they should
          invest in sports. Some are just betting for fun, others are betting to make money, we are not here to bet for fun,
          we are here to make real money by taking calculated risk.<br><br> We are here to help people to achieve their dreams.
          Whatever dream you have it will come true if you trust us and follow our advice and allow us to help you chase
          your dreams.
        </p>
        <h3 class="sectionHeaders">Here is what we provide for our esteemed subscribers</h3>
        <ul>
          <li><span class="glyphicon glyphicon-check"></span> Provide dream bet for our esteemed subscribers</li>
          <li><span class="glyphicon glyphicon-check"></span> Provide in-depth analysis and match previews for major soccer leagues
          </li>
          <li><span class="glyphicon glyphicon-check"></span> Helping our subscribers to achieve their dreams using our different
            techniques
          </li>
          <li><span class="glyphicon glyphicon-check"></span> Providing free bets</li>
          <li><span class="glyphicon glyphicon-check"></span> Providing dream chasing plan for our esteemed subscribers</li>
          <li><span class="glyphicon glyphicon-check"></span> Contribute to improving lives of our esteemed subscribers</li>
          <li><span class="glyphicon glyphicon-check"></span> Provide daily SMS betting tips for our esteemed subscribers</li>
        </ul>
      </div>
      <div class="mainSection mainSection-about about-second">
        <h3 class="sectionHeaders"><i class="fa fa-eye"></i>&nbsp; Vision</h3>
        <ul>
          <li><i class="fa fa-angle-double-right"></i>&nbsp; Contribute to improving lives of people through investing in sports</li>
          <li><i class="fa fa-angle-double-right"></i>&nbsp; Helping football bettors to get return on their investment</li>
          <li><i class="fa fa-angle-double-right"></i>&nbsp; Helping football bettors to bet professionally</li>
          <li><i class="fa fa-angle-double-right"></i>&nbsp; Helping people to achieve their dreams</li>
        </ul>
        <h3 class="sectionHeaders"><i class="fa fa-rocket"></i>&nbsp; Mission</h3>
        <ul>
          <li><i class="fa fa-angle-double-right"></i>&nbsp; Use of good technics to predict the football games with accuracy</li>
          <li><i class="fa fa-angle-double-right"></i>&nbsp; Educate people on how to manage their bank roll</li>
          <li><i class="fa fa-angle-double-right"></i>&nbsp; Plan how to achieve dreams of different people</li>
        </ul>
        <h3 class="sectionHeaders"><i class="fa fa-bullseye"></i>&nbsp; Goals</h3>
        <ul>
          <li><i class="fa fa-angle-double-right"></i>&nbsp; Achieve dream house</li>
          <li><i class="fa fa-angle-double-right"></i>&nbsp; Achieve dream car</li>
          <li><i class="fa fa-angle-double-right"></i>&nbsp; Achieve dream motor bicycle</li>
          <li><i class="fa fa-angle-double-right"></i>&nbsp; Achieve dream watch</li>
          <li><i class="fa fa-angle-double-right"></i>&nbsp; Achieve dream wedding</li>
          <li><i class="fa fa-angle-double-right"></i>&nbsp; Achieve dream holidays</li>
          <li><i class="fa fa-angle-double-right"></i>&nbsp; Achieve dream school, universities</li>
          <li><i class="fa fa-angle-double-right"></i>&nbsp; Etc.</li>
        </ul>
      </div>
    </div>
    <!-- end main section -->
  </div><br><br>
  <!-- end main content -->

  <!-- === The Modal === -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close"><i class="fa fa-times"></i></span>
        <h2>Login</h2>
      </div>
      <div class="modal-body">
        <form action="" method="" id="loginModal">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input type="email" name="email" id="emailAddr" placeholder="Email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon pwd"><i class="fa fa-lock"></i></span>
              <input type="password" name="password" id="pwd" placeholder="Password" class="form-control">
            </div>
          </div>
          <button type="button" id="signInBtn" class="btn btn-block btn-info">Login</button>
          <p class="text-center pwdForgot"><a href="#">Forgot password?</a></p>
          <p class="text-center createAcc"><a href="createaccount.html">Create account</a></p>
        </form>
      </div>
    </div>
  </div>
  <!-- === end modal === -->
</div>
<!-- ===== end main container-fluid ===== -->