<!-- ===== main container-fluid ===== -->
<div class="container-fluid">
  <!-- mainContent -->
  <div id="mainContent">
    <div class="slideShow">
      <ul id="cbp-bislideshow" class="cbp-bislideshow">
        <li><img src="app/assets/img/car_hd_1.jpg" alt="car 1" /></li>
        <li><img src="app/assets/img/car_hd_2.jpg" alt="car 2" /></li>
        <li><img src="app/assets/img/car_hd_3.jpg" alt="car 3" /></li>
        <li><img src="app/assets/img/car_hd_4.jpg" alt="car 4" /></li>
        <li><img src="app/assets/img/car_hd_5.jpg" alt="car 5" /></li>
        <li><img src="app/assets/img/car_hd_6.jpg" alt="car 6" /></li>
      </ul>
    </div>
    <!-- === mainSection === -->
    <div class="mainSection mainSec">
      <p><span class="glyphicon glyphicon-check"></span>
        <span class="dreamBet">The Dream Car plan</span> has got a combination of 3 teams with odd of 3; this combination
        requires an investment in sports betting of a minimum of 50,000 Rwandan Francs or 60 dollars every day for a period
        of months.
      </p>

      <h3>Brand new dream car</h3>
      <!-- table -->
      <table class="table table-condensed table-striped">

        <tr>
          <th>Dream Car</th>
          <th>Value | RwF</th>
          <th>Value | US$</th>
          <th>Daily Investment Amount</th>
          <th>Period</th>
        </tr>

        <tr>
          <td>Toyota Avensis 2016</td>
          <td>21,995,000</td>
          <td>26,500</td>
          <td>50,000</td>
          <td>7 Months</td>
        </tr>

        <tr>
          <td>Toyota Rav4</td>
          <td>34,860,000</td>
          <td>42,000</td>
          <td>50,000</td>
          <td>8 Months</td>
        </tr>

        <tr>
          <td>Toyota FJ Cruiser</td>
          <td>41,500,000</td>
          <td>50,000</td>
          <td>60,000</td>
          <td>12 Months</td>
        </tr>

        <tr>
          <td>Toyota Land Cruiser v8</td>
          <td>68,574,750</td>
          <td>83,825</td>
          <td>100,000</td>
          <td>12 Months</td>
        </tr>

        <tr>
          <td>Mercedes Benz E class</td>
          <td>43,699,500</td>
          <td>52,650</td>
          <td>65,000</td>
          <td>8 Months</td>
        </tr>

        <tr>
          <td>Mercedes Benz ML 350</td>
          <td>95,972,900</td>
          <td>115,630</td>
          <td>150,000</td>
          <td>11 Months</td>
        </tr>

        <tr>
          <td>Range Rover Sports</td>
          <td>70,508,500</td>
          <td>84,950</td>
          <td>100,000</td>
          <td>11 Months</td>
        </tr>

      </table><br>

      <h3>Used dream car</h3>

      <table class="table table-condensed table-striped">

        <tr>
          <th>Dream Car</th>
          <th>Value | RwF</th>
          <th>Value | US$</th>
          <th>Daily Investment Amount</th>
          <th>Period</th>
        </tr>

        <tr>
          <td>Toyota Avensis</td>
          <td>8,000,000</td>
          <td>9,638</td>
          <td>20,000</td>
          <td>7 Months</td>
        </tr>

        <tr>
          <td>Toyota Rav4</td>
          <td>12,000,000</td>
          <td>14,457</td>
          <td>20,000</td>
          <td>10 Months</td>
        </tr>

        <tr>
          <td>Toyota FJ Cruiser</td>
          <td>20,000,000</td>
          <td>24,096</td>
          <td>50,000</td>
          <td>7 Months</td>
        </tr>

        <tr>
          <td>Toyota Land Cruiser v8</td>
          <td>40,000,000</td>
          <td>48,192</td>
          <td>75,000</td>
          <td>9 Months</td>
        </tr>

        <tr>
          <td>Mercedes Benz Compressor</td>
          <td>8,000,000</td>
          <td>9,638</td>
          <td>20,000</td>
          <td>7 Months</td>
        </tr>

        <tr>
          <td>Mercedes Benz ML 350</td>
          <td>40,000,000</td>
          <td>48,192</td>
          <td>75,000</td>
          <td>9 Months</td>
        </tr>

        <tr>
          <td>Range Rover Sports</td>
          <td>40,000,000</td>
          <td>48,192</td>
          <td>75,000</td>
          <td>9 Months</td>
        </tr>
      </table><br><br>
      <!-- end table -->
    </div><br><br>
    <!-- === end mainSection === -->
  </div>
  <!-- === end mainContent === -->

  <!-- === The Modal === -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close"><i class="fa fa-times"></i></span>
        <h2>Login</h2>
      </div>
      <div class="modal-body">
        <form action="" method="" id="loginModal">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input type="email" name="email" id="emailAddr" placeholder="Email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon pwd"><i class="fa fa-lock"></i></span>
              <input type="password" name="password" id="pwd" placeholder="Password" class="form-control">
            </div>
          </div>
          <button type="button" id="signInBtn" class="btn btn-block btn-info">Login</button>
          <p class="text-center pwdForgot"><a href="#">Forgot password?</a></p>
          <p class="text-center createAcc"><a href="createaccount.html">Create account</a></p>
        </form>
      </div>
    </div>
  </div>

</div>
<!-- ===== end container-fluid ===== -->