<!-- ===== main container-fluid ===== -->
<div class="container-fluid">
    <div class="bg-image">
        <img src="app/assets/img/kigali.jpg" id="bg-img">
    </div>
    <div id="mainContent" class="main">
        <div class="container">
            <div class="mainSection mainSection-contact">
                <div class="row">
                    <h3 class="sectionHeaders">Contact Us</h3>
                    <p>
                        At DreamBet, our Customer Support Team is on standby 24/7 to help you with your gaming needs. Should you require any assistance,
                        please don’t hesitate to get in touch using one of the methods below.
                    </p>
                </div>
            </div>
            <div class="row mainSection mainSection-contact">
                <div class="phone col-md-8">
                    <h3 class="sectionHeaders">Phone</h3>
                    <p><i class="fa fa-phone"></i> &nbsp;(+250) 787888956</p>
                    <p><i class="fa fa-phone"></i> &nbsp;(+250) 783575582</p>
                    <p><i class="fa fa-phone"></i> &nbsp;(+250) 789812907</p><br>
                    <h3 class="sectionHeaders">Forgot Password/Username</h3>
                    <p><a href="">Click here</a> to retrieve your password or Username</p>
                </div>
                <div class="chat col-md-4">
                    <p><i class="fa fa-map-marker"></i> &nbsp; Kigali, Rwanda</p><br>
                    <h3 class="sectionHeaders">Chat</h3>
                    <p><i class="fa fa-comments"></i> <a href="">&nbsp;Live Chat</a></p><br>
                    <h3 class="sectionHeaders">Email</h3>
                    <p>
                        <i class="fa fa-envelope"></i> <a href="">&nbsp;support@dreambet.com</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- === End container section === -->
    </div>
    <!-- ===== end mainContent ===== -->

    <!-- ===== The Modal ===== -->
    <div id="myModal" class="modal">

        <!-- ===== Modal content ===== -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close"><i class="fa fa-times"></i></span>
                <h2>Login</h2>
            </div>
            <div class="modal-body">
                <form action="" method="" id="loginModal">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" name="email" id="emailAddr" placeholder="Email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon pwd"><i class="fa fa-lock"></i></span>
                            <input type="password" name="password" id="pwd" placeholder="Password" class="form-control">
                        </div>
                    </div>
                    <button type="button" id="signInBtn" class="btn btn-block btn-info">Login</button>
                    <p class="text-center pwdForgot"><a href="#">Forgot password?</a></p>
                    <p class="text-center createAcc"><a href="createaccount.html">Create account</a></p>
                </form>
            </div>
        </div>
    </div>
    <!-- === end modal === -->
</div><br><br>
<!-- ===== end container-fluid ===== -->