<!-- ===== main container-fluid ===== -->
  <div class="container-fluid">
    <div id="mainContent">
      <div class="slideShow">
        <ul id="cbp-bislideshow" class="cbp-bislideshow">
          <li><img src="app/assets/img/house_hd.jpg" alt="house 1" /></li>
          <li><img src="app/assets/img/house_hd_2.jpg" alt="house 2" /></li>
          <li><img src="app/assets/img/house_hd_3.jpg" alt="house 3" /></li>
          <li><img src="app/assets/img/house_hd_4.jpg" alt="house 4" /></li>
          <li><img src="app/assets/img/house_hd_5.jpg" alt="house 5" /></li>
          <li><img src="app/assets/img/house_hd_6.jpg" alt="house 6" /></li>
        </ul>
      </div>
      <!-- === mainSection === -->
      <div class="mainSection mainSec">
        <p><span class="glyphicon glyphicon-check"></span>
          <span class="dreamBet">The Dream house plan</span> has got a combination of two teams with the odd of 2; this combination
          requires an investment in sport betting of a minimum amount of 50,000 Rwandan Francs or 60 dollars every day for
          a period of one year.
        </p>
        <p>
          The higher your dream house value, the higher the amount for investing in sports betting.
        </p><br>

        <!-- table -->
        <table class="table table-condensed table-striped">

          <tr class="active">
            <th>Dream House</th>
            <th>Value | RwF</th>
            <th>Value | US$</th>
            <th>Daily Investment Amount</th>
            <th>Period</th>
          </tr>

          <tr>
            <td>House</td>
            <td>18,250,000</td>
            <td>21,987</td>
            <td>50,000</td>
            <td>1 Year</td>
          </tr>

          <tr>
            <td>House</td>
            <td>36,500,000</td>
            <td>43,975</td>
            <td>100,000</td>
            <td>1 Year</td>
          </tr>

          <tr>
            <td>House</td>
            <td>54,750,000</td>
            <td>65,963</td>
            <td>150,000</td>
            <td>1 Year</td>
          </tr>

          <tr>
            <td>House</td>
            <td>73,000,000</td>
            <td>87,951</td>
            <td>200,000</td>
            <td>1 Year</td>
          </tr>

          <tr>
            <td>House</td>
            <td>91,250,000</td>
            <td>109,939</td>
            <td>250,000</td>
            <td>1 Year</td>
          </tr>

          <tr>
            <td>House</td>
            <td>109,500,000</td>
            <td>131,927</td>
            <td>300,000</td>
            <td>1 Year</td>
          </tr>

          <tr>
            <td>House</td>
            <td>127,750,000</td>
            <td>153,915</td>
            <td>350,000</td>
            <td>1 Year</td>
          </tr>

        </table><br><br>
        <!-- end table -->
      </div><br><br>
      <!-- === end mainSection === -->
    </div>
    <!-- ===== end mainContent ===== -->

    <!-- === The Modal === -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close"><i class="fa fa-times"></i></span>
          <h2>Login</h2>
        </div>
        <div class="modal-body">
          <form action="" method="" id="loginModal">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="email" name="email" id="emailAddr" placeholder="Email" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon pwd"><i class="fa fa-lock"></i></span>
                <input type="password" name="password" id="pwd" placeholder="Password" class="form-control">
              </div>
            </div>
            <button type="button" id="signInBtn" class="btn btn-block btn-info">Login</button>
            <p class="text-center pwdForgot"><a href="#">Forgot password?</a></p>
            <p class="text-center createAcc"><a href="createaccount.html">Create account</a></p>
          </form>
        </div>
      </div>
    </div>

  </div>
  <!-- ===== end main container-fluid ===== -->