<div class="container-fluid">

    <!-- === Image header === -->
    <div class="row image-header-about">
        <img src="app/assets/img/soccerField_hd_resized.jpg" class="img-responsive" style="opacity: .6;">
        <div class="report-banner slide-left">
            <i class="fa fa-line-chart"> &nbsp; </i>Daily Reports
        </div>
    </div>
    <!-- === End image header === -->

    <div id="mainContent" class="main">
        <div class="mainSection mainSection-report">
            <p>
                <span class="dreamBet">Dream bet</span> provides daily report in order to show our esteemed subscribers,
                how we are performing toward our dream target.
            </p>
            <h3 class="sectionHeaders">We will show you:</h3>
            <ul>
                <li><span class="glyphicon glyphicon-check"></span> Pace Report</li>
                <li><span class="glyphicon glyphicon-check"></span> Statistics Report</li>
                <li><span class="glyphicon glyphicon-check"></span> Profits Report</li>
            </ul>
        </div><br><br>
        <!-- End mainSection -->
    </div>
    <!--end mainContent-->

    <!-- === The Modal === -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close"><i class="fa fa-times"></i></span>
                <h2>Login</h2>
            </div>
            <div class="modal-body">
                <form action="" method="" id="loginModal">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" name="email" id="emailAddr" placeholder="Email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon pwd"><i class="fa fa-lock"></i></span>
                            <input type="password" name="password" id="pwd" placeholder="Password" class="form-control">
                        </div>
                    </div>
                    <button type="button" id="signInBtn" class="btn btn-block btn-info">Login</button>
                    <p class="text-center pwdForgot"><a href="#">Forgot password?</a></p>
                    <p class="text-center createAcc"><a href="createaccount.html">Create account</a></p>
                </form>
            </div>
        </div>
    </div>

</div>