<!-- ===== main container-fluid ===== -->
<div class="container-fluid">
  <div id="mainContent">
    <div class="slideShow">
      <ul id="cbp-bislideshow" class="cbp-bislideshow">
        <li><img src="img/watch_hd_1.jpg" alt="watch 1" /></li>
        <li><img src="img/watch_hd_2.jpg" alt="watch 2" /></li>
        <li><img src="img/watch_hd_3.jpg" alt="watch 3" /></li>
        <li><img src="img/watch_hd_4.jpg" alt="watch 4" /></li>
        <li><img src="img/watch_hd_5.jpg" alt="watch 5" /></li>
        <li><img src="img/watch_hd_6.jpg" alt="watch 6" /></li>
      </ul>
    </div>
    <!-- === mainSection === -->
    <div class="mainSection mainSec">
      <p><span class="glyphicon glyphicon-check"></span>
        <span class="dreamBet">Dream watch : </span> dream bet will help you to achieve this dream by giving you every day
        combination 3 teams with the odd of 3.
      </p><br>

      <!-- table -->
      <div class="responsive">
        <table class="table table-condensed table-striped">

          <tr>
            <th>Dream Watch</th>
            <th>Value | RwF</th>
            <th>Value | US$</th>
            <th>Daily Investment Amount</th>
            <th>Period</th>
          </tr>

          <tr>
            <td>Rolex</td>
            <td></td>
            <td>8,795</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>Swatch</td>
            <td></td>
            <td>227</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>Omega</td>
            <td></td>
            <td>4,875</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>Tissot</td>
            <td></td>
            <td>345</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>Zenith</td>
            <td></td>
            <td>4995</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>Tudor</td>
            <td></td>
            <td>2,950</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>Breitling</td>
            <td></td>
            <td>5,495</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>Cartier</td>
            <td></td>
            <td>5,150</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>Jaeger Lecoultre</td>
            <td></td>
            <td>6,695</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>Patek Philippe</td>
            <td></td>
            <td>78,995</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <!-- end table -->
      </div><br><br>

    </div><br><br>
    <!-- === End mainSection === -->
  </div>
  <!-- === end mainContent === -->

  <!-- === The Modal === -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close"><i class="fa fa-times"></i></span>
        <h2>Login</h2>
      </div>
      <div class="modal-body">
        <form action="" method="" id="loginModal">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input type="email" name="email" id="emailAddr" placeholder="Email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon pwd"><i class="fa fa-lock"></i></span>
              <input type="password" name="password" id="pwd" placeholder="Password" class="form-control">
            </div>
          </div>
          <button type="button" id="signInBtn" class="btn btn-block btn-info">Login</button>
          <p class="text-center pwdForgot"><a href="#">Forgot password?</a></p>
          <p class="text-center createAcc"><a href="createaccount.html">Create account</a></p>
        </form>
      </div>
    </div>
  </div>
  <!-- === end modal === -->

</div>
<!-- ===== end main container-fluid ===== -->